<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iodevs.quoteit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Model.QuoteIt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgetPassword"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.Favourite"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AllCategory"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Quote"
            android:parentActivityName=".Activities.AllCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LatestTextQuote"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LatestImageQuote"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Notification"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.FullScreenImageQuote" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SearchQuote"
            android:windowSoftInputMode="stateVisible"
            android:parentActivityName=".Activities.Home"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>